<div class="container mt-4">
    
    <div class="container mt-4">
        <h1>Bienvenido a la Escuela</h1>
        <p>Aquí puedes realizar las siguientes acciones:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/alumnos" class="nav-link">Ver Alumnos</a>
            </li>
            <li class="list-group-item">
                <a href="/alumno-create" class="nav-link">Añadir Alumno</a>
            </li>
            <li class="list-group-item">
                <a href="/cursos" class="nav-link">Ver Cursos</a>
            </li>
            <li class="list-group-item">
                <a href="/cursos-create" class="nav-link">Añadir Curso</a>
            </li>
            <li class="list-group-item">
                <a href="/curso-fecha-fin" class="nav-link">Obtener los cursos que finalizan en un día determinado</a>
            </li>
            <li class="list-group-item">
                <a href="/docentes" class="nav-link">Ver Docentes</a>
            </li>
            <li class="list-group-item">
                <a href="/docente-create" class="nav-link">Añadir Docente</a>
            </li>
            <li class="list-group-item">
                <a href="/docente-ver-alumnos" class="nav-link">Mostrar los alumnos del curso vigente de un profesor.</a>
            </li>
            <li class="list-group-item">
                <a href="/temas" class="nav-link">Ver Temas</a>
            </li>
            <li class="list-group-item">
                <a href="/tema-create" class="nav-link">Añadir Tema</a>
            </li>
        </ul>
    </div>
    
</div>